/* Pallet Colors */
$ui-gray-lighter: #f3f3f4;
$ui-gray-dark: #a8a8a8;
$ui-gray-darkness: #666666;
$ui-success: #25ab6d;
$ui-danger: #ce6574;
$ui-warning: #bf9f56;

/* Fonts */
$ui-font-level1-title: 8em;
$ui-font-level2-title: 4em;
$ui-font-level3-title: 1.7em;
$ui-font-normal-size: 1em;

$padding-global: 30px;

/* Padding container */
$padding-container: 200px;

$menu-width-desktop: 240px;
$menu-width-tablet: 90px;
$menu-width-smartphone: 230px;
