/* Pallet Colors */
$ui-blue-base: #016aa3;
$ui-blue-second: #7090b7;
$ui-gray-lighter: #f3f3f4;
$ui-gray-dark: #a8a8a8;
$ui-gray-darkness: #666666;
$ui-success: #25ab6d;
$ui-danger: #ce6574;
$ui-warning: #bf9f56;

/* Fonts */
$ui-font-level1-title: 8em;
$ui-font-level2-title: 4em;
$ui-font-level3-title: 1.7em;
$ui-font-normal-size: 1em;

$ui-font-family-main: "Montserrat", "Helvetica Neue", sans-serif;

$padding-global: 30px;

/* Responsive */
$break-xs: 375px;
$break-sm: 480px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

/* Padding container */
$padding-container: 200px;