/* Primary colors */
$main-color-purple: #384783;
$main-color-purple2: #1e2b59;
$main-color-purple3: #5c699a;

/* Global Pallet Colors */
$ui-gray-light: #e8e8e8;
$ui-gray-lighter: #f3f3f4;
$ui-gray-dark: #d3d6e2;
$ui-gray-darkness: #b3b3b3;

$ui-success: #25ab6d;
$ui-danger: #ce6574;
$ui-warning: #bf9f56;

/* Fonts */
$ui-font-level1-title: 8em;
$ui-font-level2-title: 4em;
$ui-font-level3-title: 1.7em;
$ui-font-normal-size: 1em;

$size-global: 20px;
$border-global: 5px;
